/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: url("../img/cocktail-bar.jpg");
  object-fit: cover;
}

input, button {
  font-size: 2rem;
}

input {
  background: pink;
}

button {
  cursor: pointer;
  /* color: #fff4e0; */
  background: #fcfc8a;
  border: none;
}

button:hover {
  background: rgba(255, 255, 255, .5);
}

input {
  display: flex;
  text-align: center;
  margin: 20px auto;
}

#get-cocktail-button {
  text-align: center;
  margin: auto;
  display: flex;
}

#buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  text-align: center;
  margin: 2px;
}

#drink-info {
  display: flex;
  flex-flow: row;
  gap: 20px;
  /* margin: 2% 0 0 0; */
}

h1, h2, h3 {
  text-align: center;
  color: white;
  background: #94ddd4;
  padding: 1%;
  border: 2px solid #febcbd;
  /* border-radius: 5%; */
  margin: 1% auto;
  width: auto;
}

h1 {
  font-size: 5rem;
  width: 30%;
}

h2 {
  font-size: 3rem;
  /* margin-top: 100px; */
}

h3 {
  font-size: 3rem;
}

img{
  /* display: none; */
  width: 750px;
  height: auto;
  padding: 20px;
  /* border: 2px solid #febcbd; */
  margin: 0 auto;
  /* background: #ffffc1; */
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
