/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

#drink-search {
  text-align: center;
}

input, button {
  font-size: 2rem;
  margin: 1%;
}

input {
  height: 50px;
  font-size: 3rem;
}

input {
  text-align: center;
  margin: 20px auto;
}

button {
  font-size: 3rem;
  height: 50px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: #e99920;
  background: #6e1217;
  border: none;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

span {
  width: 100px;
  text-align: center;
  cursor: pointer;
  background: #6e1217;
  padding: 5px;
  border: 2px solid #e99920;
  margin: 5px;
}

#drink-info {
  justify-content: center;
  display: flex;
  flex-flow: row;
}

p, h1, h2, h3, h4 {
  text-align: center;
  color: #e99920;
  background: #6e1217;
  padding: 1%;
  margin: 1% auto;
  width: auto;
}

h1 {
  font-size: 5rem;
  width: 50%;
}

h2, h3, h4 {
  font-size: 3rem;
  width: 500px;
}

h4 {
  width: 50%;
}

p {
  font-size: 3rem;
  font-weight: 700;
}

img{
  width: 750px;
  height: 1000px;
  padding: 20px;
  margin-left: 5%;
  background: #6e1217;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-image: url("../img/bar.jpg");
  object-fit: cover;
}